dist: trusty
language: node_js
node_js:
  - "6"
  - "7"

env:
  global:
    - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - oracle-java8-set-default
  chrome: "stable"

before_install:
  - npm install -g gulp
before_script:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3 # give xvfb some time to start
  - sudo apt-get update
  - sudo apt-get install -y libappindicator1 fonts-liberation
install:
  - npm install --global npm
  - npm install
script:
  - npm test
  - npm run test-e2e
