<!doctype html>
<html lang="en">
  <head>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-mocks/angular-mocks.js"></script>
    <script type="text/javascript" src="../../node_modules/localforage/dist/localforage.js"></script>
    <script type="text/javascript" src="../../node_modules/angular-localforage/dist/angular-localForage.js"></script>
    <script src="../../dist/bm-angularjs-draft-queue.js"></script>
    <script src="./index.js"></script>
  </head>
  <body>
    <div ng-controller="testCtrl as $ctrl">
      <form ng-submit="$ctrl.submit($ctrl.model)">
        <h2>create new draft</h2>
        <label for="text">Text</label>
        <input name="text" ng-model="$ctrl.model.text" />
        <br />
        <br />
        <label for="select">Select box</label>
        <select name="select"
                ng-model="$ctrl.model.select">
                <option value=""></option>
                <option value="select 1">Select 1</option>
                <option value="select 2">Select 2</option>
        </select>
        <p>{{$ctrl.model._uuid ? "Model UUID: " + $ctrl.model._uuid : ''}}</p>
        <button id="save-draft" ng-click="$ctrl.saveDraft($ctrl.model)">Save draft</button>
        <button id="new-draft" ng-click="$ctrl.new()">new form</button>
      </form>
      <br />

      <p id="last-saved">{{$ctrl.lastSaved}}</p>
      <form ng-submit="$ctrl.update($ctrl.model)">
        <h2>last saved draft</h2>
        <label for="text">Text</label>
        <input name="text" ng-model="$ctrl.draftItem.model.text" />
        <br />
        <br />
        <label for="select">Select box</label>
        <select name="select"
                ng-model="$ctrl.draftItem.model.select">
                <option value="select 1">Select 1</option>
                <option value="select 2">Select 2</option>
        </select>
        <br/><br/>
        <label for="date-created">Date Created:</label>
        <input name="date-created" type="datetime" ng-model="$ctrl.draftItem.dateCreated" />
        <br/><br/>
        <label for="date-modified">Date Modified:</label>
        <input name="date-modified" type="datetime" ng-model="$ctrl.draftItem.dateModified" />
        <br/><br/>
        <label for="form-name">Form Name</label>
        <input name="form-name" ng-model="$ctrl.draftItem.form" />
        <br />
        <br />
        <button id="update-draft" ng-click="$ctrl.updateDraft($ctrl.draftItem)">Save draft</button>
      </form>

      <draft-queue-list on-select-item="$ctrl.load(item)"></draft-queue-list>
    </div>
  </body>
</html>
